In [1]:
import pandas as pd
from sqlalchemy import create_engine, text, create_engine

DB_USERNAME = 'postgres'
DB_PASSWORD = '0828'

#engine=create_engine(f'postgresql+psycopg2://{DB_USERNAME}:{DB_PASSWORD}@localhost/prueba', max_overflow=20)
engine=create_engine(f'postgresql://{DB_USERNAME}:{DB_PASSWORD}@localhost/page_visits', max_overflow=20)
result = engine.connect().execute(text("SELECT 'Hello world';"))

print(result.first()[0])

Hello world

In [2]:
df = pd.read_csv('./data/page_visits.csv',sep=';')
df.head(2)

,page_name,timestamp,user_id,utm_campaign,utm_source
0,1 - landing_page,2018-01-24 03:12:16,10006,getting-to-know-cool-tshirts,nytimes
1,2 - shopping_cart,2018-01-24 04:04:16,10006,getting-to-know-cool-tshirts,nytimes

In [3]:
%load_ext sql

In [4]:
%sql postgresql://postgres:0828@localhost/page_visits

In [5]:
#df.to_sql('page_visits', engine)

In [6]:
%%sql

 SELECT * FROM page_visits
 WHERE user_id = 10069;

 * postgresql://postgres:***@localhost/page_visits
4 rows affected.

[(13, '1 - landing_page', '2018-01-02 23:14:01', 10069, 'ten-crazy-cool-tshirts-facts', 'buzzfeed'),
 (14, '2 - shopping_cart', '2018-01-02 23:55:01', 10069, 'ten-crazy-cool-tshirts-facts', 'buzzfeed'),
 (15, '3 - checkout', '2018-01-04 08:12:01', 10069, 'retargetting-ad', 'facebook'),
 (16, '4 - purchase', '2018-01-04 08:13:01', 10069, 'retargetting-ad', 'facebook')]

In [7]:
%%sql
SELECT user_id,
   MIN(timestamp) AS "first_touch_at"
FROM page_visits
GROUP BY user_id
LIMIT 5

 * postgresql://postgres:***@localhost/page_visits
5 rows affected.

[(82474, '2018-01-19 09:16:29'),
 (92865, '2018-01-09 05:41:48'),
 (94220, '2018-01-27 02:08:23'),
 (74338, '2018-01-08 15:31:34'),
 (35039, '2018-01-08 05:32:22')]

In [8]:
%%sql
SELECT user_id,
   MAX(timestamp) AS "last_touch_at"
FROM page_visits
GROUP BY user_id
LIMIT 5

 * postgresql://postgres:***@localhost/page_visits
5 rows affected.

[(82474, '2018-01-19 09:33:29'),
 (92865, '2018-01-09 05:41:48'),
 (94220, '2018-01-31 12:51:23'),
 (74338, '2018-01-11 00:43:34'),
 (35039, '2018-01-08 07:34:22')]

In [9]:
%%sql
WITH first_touch AS (
   SELECT user_id,
      MIN(timestamp) AS "first_touch_at"
   FROM page_visits
   GROUP BY user_id)
SELECT ft.user_id,
  ft.first_touch_at,
  pv.utm_source
FROM first_touch AS "ft"
JOIN page_visits AS "pv"
  ON ft.user_id = pv.user_id
  AND ft.first_touch_at = pv.timestamp
LIMIT 5

 * postgresql://postgres:***@localhost/page_visits
5 rows affected.

[(10006, '2018-01-24 03:12:16', 'nytimes'),
 (10030, '2018-01-25 20:32:02', 'buzzfeed'),
 (10045, '2018-01-05 18:31:17', 'nytimes'),
 (10048, '2018-01-16 04:17:46', 'medium'),
 (10069, '2018-01-02 23:14:01', 'buzzfeed')]

In [10]:
%%sql
WITH last_touch AS (
    SELECT user_id,
       MAX(timestamp) AS "last_touch_at"
    FROM page_visits
    GROUP BY user_id)
SELECT lt.user_id,
   lt.last_touch_at,
   pv.utm_source
FROM last_touch AS "lt"
JOIN page_visits AS "pv"
   ON lt.user_id = pv.user_id
   AND lt.last_touch_at = pv.timestamp
LIMIT 5

 * postgresql://postgres:***@localhost/page_visits
5 rows affected.

[(10006, '2018-01-25 23:10:16', 'email'),
 (10030, '2018-01-28 13:38:02', 'email'),
 (10045, '2018-01-09 03:05:17', 'facebook'),
 (10048, '2018-01-19 00:00:46', 'email'),
 (10069, '2018-01-04 08:13:01', 'facebook')]